In [1]:
%pip install polars
%pip install tabulate
%pip install --upgrade pip
%pip install scikit-learn
%pip install mlxtend
%pip install seaborn

Requirement already satisfied: polars in /opt/homebrew/lib/python3.11/site-packages (1.23.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: tabulate in /opt/homebrew/lib/python3.11/site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pip in /opt/homebrew/lib/python3.11/site-packages (25.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in /opt/homebrew/lib/python3.11/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (1.26.0)
Requirement already satisfied: scipy>=1.6.0 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (1.11.2)
Requirement already satisfied: joblib>=1.2.0 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mlxtend in /opt/homebrew/lib/python3.11/site-packages (0.23.4)
Requirement already satisfied: scipy>=1.2.1 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (1.11.2)
Requirement already satisfied: numpy>=1.16.2 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (1.26.0)
Requirement already satisfied: pandas>=0.24.2 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (2.1.1)
Requirement already satisfied: scikit-learn>=1.3.1 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (1.6.1)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/ritvikgupta/Library/Python/3.11/lib/python/site-packages (from matplotlib>=3.0.0->mlxtend) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ritvikgupta/Library/Python/3.11/lib/python/site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in /Users/ritvikgupta/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /opt/homebrew/lib/python3.11/site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/homebrew/lib/python3.11/site-packages (from seaborn) (1.26.0)
Requirement already satisfied: pandas>=1.2 in /opt/homebrew/lib/python3.11/site-packages (from seaborn) (2.1.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in /opt/homebrew/lib/python3.11/site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/ritvikgupta/Library/Python/3.11/lib/python/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ritvikgupta/Library/Python/3.11/lib/python/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/ritvikgupta/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:

import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from mlxtend.frequent_patterns import apriori, association_rules
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage
from tabulate import tabulate

In [ ]:
import csv

with open('games.csv', 'r') as f:
    dialect = csv.Sniffer().sniff(f.read(1024))
    f.seek(0)
    # print all properties and values of the dialect object
    

    print(dir(dialect))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_name', '_valid', '_validate', 'delimiter', 'doublequote', 'escapechar', 'lineterminator', 'quotechar', 'quoting', 'skipinitialspace']

In [90]:
import pandas as pd
import json
import polars as pl


# Read the CSV file with appropriate parameters
def parse_games_csv(file_path):
    # Use the csv engine with appropriate quoting parameters
    # We need to handle nested quotes in the JSON price field
    df = pd.read_csv(
        file_path,
        quotechar='"',  # Double quotes are used to quote fields
        doublequote=True,  # Double quotes are escaped by doubling them
        escapechar='\\',  # Backslash can be used to escape quotes
        na_values=['\\N', 'N'],  # Null values are represented as \N
    )
    
    # Clean up the price_overview column and convert it to a more usable format
    def parse_price(price_str):
        if pd.isna(price_str):
            return None
        try:
            # Replace escaped quotes
            price_str = price_str.replace('\\"', '"')
            return json.loads(price_str)
        except (json.JSONDecodeError, AttributeError):
            return None
    
    # Apply the function to parse price_overview
    if 'price_overview' in df.columns:
        df['price_overview_parsed'] = df['price_overview'].apply(parse_price)
        
        # Extract useful price information into separate columns
        df['currency'] = df['price_overview_parsed'].apply(lambda x: x.get('currency') if x else None)
        df['price'] = df['price_overview_parsed'].apply(lambda x: float(x.get('final')) / 100 if x else None)
        df['original_price'] = df['price_overview_parsed'].apply(lambda x: x.get('initial') if x else None)
        df['discount_percent'] = df['price_overview_parsed'].apply(lambda x: x.get('discount_percent') if x else 0)
        df['final_price'] = df['price_overview_parsed'].apply(lambda x: x.get('final_formatted').replace(",", ".") if x else None)
    
    # Convert release_date to datetime
    if 'release_date' in df.columns:
        df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
    
    # Convert is_free to boolean
    if 'is_free' in df.columns:
        df['is_free'] = df['is_free'].astype('Int64').fillna(-1)
        df['is_free'] = df['is_free'] == 1
    
    return df


# Example usage
games_df = parse_games_csv('games.csv')
games_df.head()

,app_id,name,release_date,is_free,price_overview,languages,type,price_overview_parsed,currency,price,original_price,discount_percent,final_price
0,10,Counter-Strike,2000-11-01,False,"{""final"": 819, ""initial"": 819, ""currency"": ""EU...","English<strong>*</strong>, French<strong>*</st...",game,"{'final': 819, 'initial': 819, 'currency': 'EU...",EUR,8.19,819.0,0,8.19€
1,20,Team Fortress Classic,1999-04-01,False,"{""final"": 499, ""initial"": 499, ""currency"": ""EU...","English, French, German, Italian, Spanish - Sp...",game,"{'final': 499, 'initial': 499, 'currency': 'EU...",EUR,4.99,499.0,0,4.99€
2,30,Day of Defeat,2003-05-01,False,"{""final"": 499, ""initial"": 499, ""currency"": ""EU...","English, French, German, Italian, Spanish - Spain",game,"{'final': 499, 'initial': 499, 'currency': 'EU...",EUR,4.99,499.0,0,4.99€
3,40,Deathmatch Classic,2001-06-01,False,"{""final"": 499, ""initial"": 499, ""currency"": ""EU...","English, French, German, Italian, Spanish - Sp...",game,"{'final': 499, 'initial': 499, 'currency': 'EU...",EUR,4.99,499.0,0,4.99€
4,50,Half-Life: Opposing Force,1999-11-01,False,"{""final"": 499, ""initial"": 499, ""currency"": ""EU...","English, French, German, Korean",game,"{'final': 499, 'initial': 499, 'currency': 'EU...",EUR,4.99,499.0,0,4.99€

In [91]:
clean_games_df = games_df.drop(columns=['price_overview', 'price_overview_parsed'])

# clean_games_df['final_price'] = clean_games_df['final_price'].astype(float)

# drop rows with missing values
clean_games_df = clean_games_df.dropna()
clean_games_df['languages'] = clean_games_df['languages'].apply(lambda x: x.replace("<strong>*</strong>", "").replace("<br>", ", ").split(", "))
# tabulate(clean_games_df.head(), tablefmt='pipe', headers='keys')
clean_games_df.head()

,app_id,name,release_date,is_free,languages,type,currency,price,original_price,discount_percent,final_price
0,10,Counter-Strike,2000-11-01,False,"[English, French, German, Italian, Spanish - S...",game,EUR,8.19,819.0,0,8.19€
1,20,Team Fortress Classic,1999-04-01,False,"[English, French, German, Italian, Spanish - S...",game,EUR,4.99,499.0,0,4.99€
2,30,Day of Defeat,2003-05-01,False,"[English, French, German, Italian, Spanish - S...",game,EUR,4.99,499.0,0,4.99€
3,40,Deathmatch Classic,2001-06-01,False,"[English, French, German, Italian, Spanish - S...",game,EUR,4.99,499.0,0,4.99€
4,50,Half-Life: Opposing Force,1999-11-01,False,"[English, French, German, Korean]",game,EUR,4.99,499.0,0,4.99€

In [82]:
# Load datasets
tags = pd.read_csv('tags.csv')
# games = pd.read_csv('games.csv')
# reviews = pd.read_csv('reviews.csv')
genre = pd.read_csv('genres.csv')

In [84]:
reviews = df = pd.read_csv(
        "reviews.csv",
        quotechar='"',  # Double quotes are used to quote fields
        doublequote=True,  # Double quotes are escaped by doubling them
        escapechar='\\',  # Backslash can be used to escape quotes
        na_values=['\\N', 'N'],  # Null values are represented as \N
    )

reviews = reviews.drop(columns=['reviews'])
reviews.head()

,app_id,review_score,review_score_description,positive,negative,total,metacritic_score,recommendations,steamspy_user_score,steamspy_score_rank,steamspy_positive,steamspy_negative
0,10,9.0,Overwhelmingly Positive,235403.0,6207.0,241610.0,88.0,153259.0,0.0,NaN,235397.0,6207.0
1,20,8.0,Very Positive,7315.0,1094.0,8409.0,NaN,6268.0,0.0,NaN,7314.0,1092.0
2,30,8.0,Very Positive,6249.0,672.0,6921.0,79.0,4146.0,0.0,NaN,6246.0,672.0
3,40,8.0,Very Positive,2542.0,524.0,3066.0,NaN,2218.0,0.0,NaN,2541.0,525.0
4,50,9.0,Overwhelmingly Positive,22263.0,1111.0,23374.0,NaN,20144.0,0.0,NaN,22260.0,1112.0

In [ ]:



data = pd.merge(tags, clean_games_df, on='app_id', how='inner')
data = pd.merge(data, reviews, on='app_id', how='inner')
data = pd.merge(data, genre, on='app_id', how='inner')

data = data.dropna(subset=['tag', 'review_score', 'price'])

# Create binary features for tags
data['tag'] = data['tag'].str.lower().str.strip()  # Normalize tags
tag_dummies = pd.get_dummies(data['tag'], prefix='tag')
data = pd.concat([data, tag_dummies], axis=1)

# Select relevant features for clustering
features = ['price', 'review_score'] + list(tag_dummies.columns)
X = data[features]

# Standardize features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)